body {
    background: #f0f0f0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
}

#container {
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border: 1px solid #ddd;
}

#branding {
    margin: 0 0 20px 0;
}

nav {
    margin: 0 0 20px 0;
    padding: 0;
    list-style: none;
}

nav ul i {
    margin-right: 5px;
}

ul i a {
    color: #666;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1 {
    font-size: 24px;
    margin: 0 0 20px 0;
}